#!/bin/sh
xrandr --setprovideroutputsource 1 0
###xrandr --output VGA-1 --auto --primary --output VGA-1-1 --auto --right-of VGA-1
###xrandr --output VGA-0 --auto --primary --output VGA-1-2 --auto --right-of VGA-0
xrandr --output DVI-I-1 --auto --primary --output VGA-1-1 --auto --right-of DVI-I-1
export QT_QPA_PLATFORMTHEME=qt5ct
###setxkbmap -layout us,ru -variant -option grp:ctrl_shift_toggle, terminate:ctrl_alt_bksp &
#kbdd &
#urxvtd -q -f -o &
#/usr/lib/polkit-kde/polkit-kde-authentication-agent-1 &